// 引入重写样式
@import './overwrite.less';

.v-body, body, html {
    background-color: @background-color;
    font-family: @font-family;
    .m(0);
    .p(0);
}
.v-body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}